<div>
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
  <img *ngIf="imageSrc" [src]="imageSrc" alt="Selected Image" style="max-width: 100%; height: auto;">
</div>  

<br>
<br>

<label>Nominal : </label>
<input type="text" [(ngModel)]="newAmount">

<br>
<br>

<button (click)="duar()">Generate</button>

<p *ngIf="originalQrText">Original QR Text : {{originalQrText}}</p>

<p *ngIf="generatedQrText">Generated QR Text : {{generatedQrText}}</p>

<qrcode *ngIf="generatedQrText" [qrdata]="generatedQrText" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
